:root {
	--main-font-family: 'Cardo';
	--main-font-size: 16px;
	--main-background: #9a93c3;
	--secondary-background: #d2cee1;
	--accent-color: #473d81;
	--main-text-color: #5b5b5b;
	--secondary-text-color: #ffffff;
	--main-box-color: #fffdfd;
}
body {
	font-family: var(--main-font-family);
	font-size: var(--main-font-size);
	color: var(--main-text-color);
	margin: 0px;
	padding: 0px;
}
/* header */
.header {
	background-color: var(--main-background);
	color: var(--secondary-text-color);
	font-weight: bold;
	position: absolute;
	top: 0px;
	width: 100%;
	height: 40%;
}
.header h1 {
	font-size: 40px;
	margin-left: 3%;
	margin-bottom: 0px;
}
.header p {
	font-size: 24px;
	margin-left: 20%;
	padding: 0px;
	margin-top: 0px;
}

/* nav-bar */
.nav-links {
	list-style-type: none;
	width: 35%;
	height: 5%;
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 0px;
	right: 0px;
	margin-top: 4%;
	margin-right: 4%;
}
.nav-links a {
	color: var(--secondary-text-color);
	text-decoration: none;
}
li {
	margin: 0px;
	padding: 0px;
}
.nav-item img {
	height: 175%;
}

/* main */
.content {
	border: 5px solid red;
	background-color: var(--main-box-color);
	height: 100vh;
	width: 75%;
}
/* footer */
footer {
	height: 10%;
	width: 10%;
	background-color: var(--main-background);
}
.logo img {
	height: 5%;
	width: 10%;
}

/* Next steps:
 1) add content to the middle
 	-have it be off white
	-have a border shadow
	-be on top of the purple
 2) update external links to open an new page
 3) create a footer, have it go long across the bottom
*/
